<!-- ============================ Hero Banner  Start================================== -->
<div class="hero-banner full jumbo-banner" style="background:#ecf4ff url(img/bg2.png);">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-7 col-md-8">
                <a href="#" class="header-promo w-inline-block bg-dark">
                    <div class="label bg-info">NOUVEAU</div>
                    <div class="header-promo-text text-light">Découvrez nos nouvelles formations
                        certifiantes !</div>
                </a>
                <h1>Développez vos <span class="text-info">Compétences</span> avec nos Formations !</h1>
                <p class="lead">Accédez à une large sélection de formations adaptées à votre métier et
                    boostez votre carrière.</p>
                <a routerLink="/list-formations" class="btn btn-info">Explorer les Formations</a>


            </div>

            <div class="col-lg-5 col-md-4">
                <img src="img/side-img.png" alt="latest property" class="img-fluid">
            </div>

        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->




<!-- ============================ Setup Process Start ==================================== -->
<section>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-md-6">
                <img src="img/edu_2.png" class="img-fluid" alt="" />
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="_setup_process">
                    <h2>Comment <span class="theme-cl-2">Ça Marche</span> ?</h2>
                    <p>Suivez un processus simple et structuré pour accéder à nos formations et
                        développer
                        vos compétences.</p>
                </div>
                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="yel098_7uw">
                            <div class="ye_lk23">
                                <i class="ti-user"></i>
                            </div>
                            <div class="yel_7bcx">
                                <h4>Créer un Compte</h4>
                                <p>Inscrivez-vous gratuitement et accédez à votre espace personnel.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="yel098_7uw">
                            <div class="ye_lk23">
                                <i class="ti-book"></i>
                            </div>
                            <div class="yel_7bcx">
                                <h4>Choisir une Formation</h4>
                                <p>Parcourez notre catalogue et sélectionnez la formation qui vous
                                    correspond.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="yel098_7uw">
                            <div class="ye_lk23">
                                <i class="ti-pencil-alt"></i>
                            </div>
                            <div class="yel_7bcx">
                                <h4>Suivre les Cours</h4>
                                <p>Accédez aux contenus pédagogiques et participez aux sessions
                                    interactives.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="yel098_7uw">
                            <div class="ye_lk23">
                                <i class="ti-medall"></i>
                            </div>
                            <div class="yel_7bcx">
                                <h4>Obtenir un Certificat</h4>
                                <p>Validez vos compétences et obtenez un certificat de réussite.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Featured Themes End ==================================== -->


<!-- ============================ Call To Action Start ================================== -->
<section class="call-to-act" style="background:#0b85ec url(img/landing-bg.png) no-repeat">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 col-md-8">
                <div class="clt-caption text-center mb-4">
                    <h2 class="text-light">Inscrivez-vous à nos formations !</h2>
                    <p class="text-light">Restez informé des nouvelles formations et opportunités
                        d’apprentissage.</p>
                </div>
                <div class="inner-flexible-box subscribe-box">
                    <div class="input-group">
                        <input type="email" class="form-control large" placeholder="Entrez votre adresse email">
                        <button class="btn btn-subscribe bg-dark" type="button">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->